.burger-body {
    height: 550px;
    opacity: .8;
}

.input{
   height: 100%;
   text-align: center;
   width: 85%;
   
}

.input2{
    float:right;
}
#count1{
    float: right;
    padding: 5px;
}
#count2{
    float:left;
    padding: 5px;
    margin-right: 5px;
}

.mooMooButton{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100px;
}
.mooMoodeleteButton{
    position: absolute;
    bottom: 20px;;
    right: 20px;;
    width:100px;
}
.mooMoos{
   height: 100px;
   width: 100px;
}
.mooMoosMedium{
    height: 60px;
    width: 60px;
 }
 .mooMoosSmall{
     height: 40px;
     width: 40px;
 }

 .mooMoos1{
    height: 100px;
    width: 100px;
 }
 .mooMoosMedium1{
     height: 60px;
     width: 60px;
  }
  .mooMoosSmall1{
      height: 30px;
      width: 30px;
  }
.clear{
    width: 200px;
    margin: 0 auto;
   
}

.space{
    height: 20px;
}

.title{
    text-align: center;
    opacity: .9;
}
body{
    background-image: url(./assets/cit-fd-028-5ce2f0a2.jpg);
}